In [ ]:
#CM2604 - Machine Learning Coursework
#Name: Yaseen Munowwar
#IIT Student ID: 20210079 
#RGU Student ID: 2122105

Corpus Preparation

The Spambase dataset contains 4,601 email messages with 57 features that describe the content of each email. We will use this dataset for our email spam classification problem.

To prepare the corpus, we first need to load the dataset and split it into training and testing sets. We will use 80% of the data for training and 20% for testing.

In [12]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split

In [13]:
# Load the dataset
#df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.data", header=None)
# Load the dataset
df = pd.read_csv('spambase.data', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

Data Preprocessing 

Null values are checked
Duplicate values are removed

In [14]:
# check for missing values
print(df.isnull().sum())

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
57    0
dtype: int64

In [15]:
# Drop duplicate rows
df.drop_duplicates(inplace=True)
print('No of duplicate values: ',df.duplicated().sum())

No of duplicate values:  0

In [16]:
# Split the data into training and testing sets
X = df.iloc[:, :-1]
y = df.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

Solution Methodology


The code trains two machine learning models, K Nearest Neighbors (KNN) and Decision Trees, on the training set and evaluates their performance on the testing set using various metrics.

The first machine learning model used in the code is the K Nearest Neighbors (KNN) model. This model is trained on the training set using Scikit-learn's KNeighborsClassifier() function. The KNN algorithm is a type of supervised learning algorithm that makes predictions based on the k-nearest neighbors of a given data point. The number of neighbors (k) is a hyperparameter that can be tuned to improve the performance of the model. In this case, the default value of k is used.